.mybutton {
	display: none;
	margin: auto;
	float: right;
}

.selected {
	background-color: #9E9E9E !important;
	color: white !important;
}

.whiteRect {
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: white;
	width: auto;
	height: 50px;
	border-radius 2px;
	margin-bottom: 5px;
	position: relative;
}

.item {
  display: inline;
  font-family: Quicksand;
  font-size: 18px;
  color: #41541;
  position: absolute;
  left: 60px;
  margin-top: 13px;
}

.editInput {
	border: none;
	width: auto;
	margin-top: -1px;
	margin-left: -1px;
}

.editInput:focus {
	outline: none;
}

.removeLink {
	float: right;
	height: 15px;
	margin-top: 9px;
	margin-right: 10px;
	cursor: pointer;
}

.checkboxImage {
  width: 25px;
  position: absolute;
  top: 13px;
  left: 15px;
  cursor: pointer;
}

.checkImage {
	width: 25px;
	display: none;
	position: absolute;
	top: 13px;
	left: 15px;
	cursor: pointer;
}
